@import "node_modules/modern-normalize/modern-normalize.css";

body {
	min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
}

.header {
  grid-area: header;
  background-color: orange;
}

.header {
	display: grid;
	grid-template-columns: 4fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	align-items: center;
}

.header input[type=text] {
	border: none;
	border-radius: 10px;
	width: 600px;
}

.search-bar {
	display: flex;
	gap: 10px;
	margin-left: 40px;
}

.search-bar button {
	all: unset;
	cursor: pointer;
}

.search-bar img {
	width: 24px;
	height: 24px;
}

.sidebar {
  grid-area: sidebar;
  background-color: aqua;
}

.main-content {
  grid-area: main-content;
  background-color: darkkhaki;
}
